.short-card {
  height: 440px !important;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


.short-card img {
  height: 300px !important;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.short-card .card-body {
  padding: 10px;
  flex: 1;
}


.short-card .card-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.short-card .card-text {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.short-card .btn {
  font-size: 13px;
  padding: 4px 10px;
}


.navbar-custom {
  background-color: #0d6efd;
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .nav-link:hover {
  color: rgb(138, 143, 240) !important;
}

.navbar-custom .nav-link.active {
  color: rgb(38, 21, 165) !important;
}

.logo-img {
  border: 1px solid white;
  border-radius: 20px;

}

.carousel-item {
  height: 500px !important;
  width: 100% !important;
}

.stars i {
  color: gold;
  margin-right: 2px;
}